.extra-wrap {zoom:1;}

a.nocolor,.nocolor a{
	//color:expression(this.parentNode.currentStyle.color);
}

img { -ms-interpolation-mode: bicubic; }

.r-menu a img{
	display:none;
}

.r-menu a:hover img{
	display:block;
}
