@model IList<Samodiva.Web.Areas.Admin.Models.News.NewsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<table>
    <thead>
        <th>
            <td>
                <input id="check-all-news" type="checkbox" />
            </td>
            <td>
                Дата
            </td>
            <td>
                Заглавие
            </td>
        </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" value="@item.Id" class = "news-check" />
                </td>
                <td>@item.Date</td>
                <td>@Html.ActionLink(item.Title, "preview", new { id = item.Id })</td>
            </tr>   
        }
    </tbody>
</table>
